body {
    margin: 0;
}

.logo {
    margin: 0;
    color: #ffff;
    text-align: center;
    text-transform: capitalize;
    font-style: italic;
    z-index: 4;
}

.headerNav {
    overflow: hidden;
    text-align: center;
    margin-top: 10px;
    z-index: 3;
}

.headerNav a {
    float: left;
    width: 25%;
    color: #ffff;
    text-decoration-line: none;
    background-color: rgba(255, 255, 255, 0.2);
}

header {
    background-image: linear-gradient(rgba(254, 254, 254, 0.5), rgba(0, 0, 0, 0.5)),
        url("../img/img_header.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
    z-index: 2;
    height: 75px;
}

header nav a:hover {
    color: #0026fa;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration-line: underline;
}

.img_header {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 4px;
}


.main {
    z-index: 1;
    padding: 20px;
    padding-top: 105px;
    background-color: lightgray;

}

.alignLeft {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

.alignRight {
    margin-left: 15px;
    float: right;
    margin-bottom: 15px;
}

#principale p {
    text-align: justify;
}

p,
hr {
    clear: both;
}

.contact {
    position: relative;
    background-color: lightgray;
    padding-bottom: 80px;
}

.contact form {
    border: solid;
    border-radius: 15px;
    width: 650px;
    height: 450px;
}

.contact form div {
    text-align: center;
    padding-top: 25px;
}

.contact form div label {
    margin-right: 20px;
}

.address {
    position: absolute;
    top: 45px;
    left: 55%;
    right: 55px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    z-index: 3;
}

.text-foot {
    text-align: center;
}